<a href="https://colab.research.google.com/github/yk-Jeong/Kaggle-Studies/blob/main/5th_study_movie_recommendation_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#https://www.kaggle.com/ibtesama/getting-started-with-a-movie-recommendation-system

In [2]:
import pandas as pd
import numpy as np

1. dataset load

In [3]:
df1 = pd.read_csv('tmdb_5000_credits.csv', encoding='utf-8')
df2 = pd.read_csv('tmdb_5000_movies.csv', encoding='utf-8')

In [4]:
#data shape 
df1.head()

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 4 columns]

In [5]:
#column name change

df1.columns = ['id', 'title', 'cast', 'crew']

In [6]:
df2.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [7]:
#data merge: id column이 공통이므로 이를 기준으로 df1, df2를 병합

df2 = df2.merge(df1, on='id')

In [8]:
df2.head() #근데 왜 title_x랑 title_y가 생기는 거지??

      budget  ...                                               crew
0  237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  245000000  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  250000000  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  260000000  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 23 columns]

Weighted Rating(WR): 

v is **the number of votes** for the movie.

m is **the minimum votes** required to be listed in the chart.

R is **the average rating of the movie**.

C is **the mean vote** across the whole report.



then, v is `vote_count` and R is `vote_average`.

In [9]:
C = df2['vote_average'].mean()
C #rating score는 10점 만점임

6.092171559442011

In [10]:
#상위 90%의 vote_count(추천수?)를 계산

m = df2['vote_count'].quantile(0.90)
m

1838.4000000000015

In [12]:
#q_movies dataframe: qualified movies

q_movies = df2.copy().loc[df2['vote_count'] >= m]
q_movies.shape

(481, 23)

define function: weighted rating

In [13]:
def weighted_rating(x, m, C):
  
  m = m, C = C
  v = x['vote_count']
  R = x['vote_aveage']

  return (v (v + m) * R) + (m / (m + v) * C) #???

In [ ]:
#Define a new feature 'score', and calculate its value with weighted rating.

q_movies['score'] = q_movies.apply()