<a href="https://colab.research.google.com/github/yk-Jeong/Kaggle-Studies/blob/main/6th_samsung.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#https://dacon.io/codeshare/2570

In [15]:
%matplotlib inline

In [16]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.69)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.7.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.10)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf

In [18]:
samsung_df = yf.download('005930.KS', start = '2020-01-01', end = '2021-04-21', progress = False)

In [19]:
samsung_df.head()

               Open     High      Low    Close     Adj Close    Volume
Date
2020-01-02  55500.0  56000.0  55000.0  55200.0  52058.132812  12993228
2020-01-03  56000.0  56600.0  54900.0  55500.0  52341.054688  15422255
2020-01-06  54900.0  55600.0  54600.0  55500.0  52341.054688  10278951
2020-01-07  55700.0  56400.0  55600.0  55800.0  52623.980469  10009778
2020-01-08  56200.0  57400.0  55900.0  56800.0  53567.062500  23501171

In [20]:
samsung_df = samsung_df[["Close"]]

In [21]:
samsung_df.head()

              Close
Date
2020-01-02  55200.0
2020-01-03  55500.0
2020-01-06  55500.0
2020-01-07  55800.0
2020-01-08  56800.0

In [22]:
samsung_df = samsung_df.reset_index()

In [23]:
samsung_df

          Date    Close
0   2020-01-02  55200.0
1   2020-01-03  55500.0
2   2020-01-06  55500.0
3   2020-01-07  55800.0
4   2020-01-08  56800.0
..         ...      ...
318 2021-04-15  84100.0
319 2021-04-16  83900.0
320 2021-04-19  83300.0
321 2021-04-20  83900.0
322 2021-04-21  82600.0

[323 rows x 2 columns]

In [24]:
samsung_df.columns = ['day', 'price']

In [26]:
samsung_df['day'] = pd.to_datetime(samsung_df['day'])
samsung_df.index = samsung_df['day']
samsung_df.set_index('day', inplace = True)
samsung_df

              price
day
2020-01-02  55200.0
2020-01-03  55500.0
2020-01-06  55500.0
2020-01-07  55800.0
2020-01-08  56800.0
...             ...
2021-04-15  84100.0
2021-04-16  83900.0
2021-04-19  83300.0
2021-04-20  83900.0
2021-04-21  82600.0

[323 rows x 1 columns]

Step 1. 시간정보가 포함된 데이터 살펴보기
마지막 날짜 5일을 test, 제외한 나머지를 train으로 지정

In [27]:
samsung_train_df = samsung_df[:317]
samsung_train_df

              price
day
2020-01-02  55200.0
2020-01-03  55500.0
2020-01-06  55500.0
2020-01-07  55800.0
2020-01-08  56800.0
...             ...
2021-04-07  85600.0
2021-04-08  84700.0
2021-04-09  83600.0
2021-04-12  83200.0
2021-04-13  84000.0

[317 rows x 1 columns]

In [29]:
samsung_test_df = samsung_df[317:]
samsung_test_df

              price
day
2021-04-14  84000.0
2021-04-15  84100.0
2021-04-16  83900.0
2021-04-19  83300.0
2021-04-20  83900.0
2021-04-21  82600.0

시각화

In [30]:
import platform

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

In [ ]:
if platform.system() == 'Windows':
  path = "c:/Windows/Fonts/malgun.ttf"
  font_name = font_manager.FontProperties(fname = path).get_name()
  rc('font', family = font_name)